/*Colors
#ffefd0 palepeach
#fffee1 paleyellow
#d0ebea paleblue
#a1d5d2 darkerblue
#8b7a5b brown*/



/* Table of Content
==================================================
  #Site Styles
  #home Styles
  #more Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

  .container{
    margin-top: 0px;
    overflow: hidden;
    background-color: #ffefd0;
  }

  body {
    font-family: "Quicksand", helvetica, sans-serif;
    font-weight: 100;
    margin-top: 0px;
  }

  h1, h2, h3, h4, li{
    font-family: "Quicksand", helvetica, sans-serif;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
  }

  img{
    width: 190px;
    border: 5px solid white;
  }
  
  p{
    color: #000;
    line-height: 1.5;
  }

  a{
    display: block;
    width: 100%;
  }

/* #home Styles
================================================== */
    
  nav{
    display: inline;
    color: #000;
    margin-top: 5px;
    overflow: hidden;
  }

  ul{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  nav li{
    background-color: #a1d5d2;
    float: left;
    width: 16.266666667%;
    padding: 10px 0px;
    text-align: center;
    margin: .2%;
  }

  nav li:hover{
    background-color: #d0ebea ;
  }

  a{
    color: #000;
    text-decoration: none;r
  }
/* #more Styles
================================================== */
  ul.whisker_li li{
    list-style: round;
  }
/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/