/*Colors
#ffefd0 palepeach
#fffee1 paleyellow
#d0ebea paleblue
#a1d5d2 darkerblue
#8b7a5b brown*/



/* #Site Styles
================================================== */

.container{
  margin-top: 0px;
  overflow: hidden;
}


body {
  background: url("../img/css/egg_shell.png") repeat fixed;
  font-family: "Quicksand", helvetica, sans-serif;
  font-weight: 100;
}

.wrapper {
  width: 67%;
  margin: 0 auto;
}

.chubby-wrapper {
  width: 72%;
  margin: 0 auto;
}

header{
  background-image: url("../img/css/header_pattern.jpg");
  height: 162px;
}

header h1{
  float: right;
}

header h1 img{
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
}

h1, h2, h3, h4{
  font-family: "Quicksand", helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  margin-top: 0px;
}

p{
  color: #000;
  line-height: 1.5;
}

a{
  display: inline-block;
  width: 100%;
  height: 100%;
}

a:hover{
  /*box-shadow: inset #383737 0px 0px 2px 1px;*/
}

/* #nav Styles
================================================== */
nav li{
  float: left;
  text-align: center;
  width: 147px;
  margin: 0px 0px 0px 15px;
}

nav li:first-child{
  margin: 0px;
  width: 150px;
}

nav li:hover{
  background-color: #404040;
}

nav a{
  background-color: rgba( 157, 157, 157, .8);
  color: #000;
  text-decoration: none;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 34px;
}

 a:hover, a.active{
}

a.active:hover{
  box-shadow: none;
  background-color: rgba( 157, 157, 157, .8);
}

a#contact_button{
  background: url("../img/contact_button.png");
}

/* #home Styles
================================================== */
  
nav{
  display: inline;
  color: #000;
  margin-top: 5px;
  overflow: hidden;
}

ul{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/* #banner Styles
================================================== */
#banner_home{
  height: 266px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
  background: url('../img/banner_home.png') no-repeat center top;
}
#banner_adopt{
  height: 266px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
  background: url('../img/banner_adopt.png') no-repeat center top;
}
#banner_contact{
  height: 266px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
  background: url('../img/banner_contact.png') no-repeat center top;
}
#banner_photos{
  height: 266px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
  background: url('../img/banner_photos.png') no-repeat center top;
}
#banner_more{
  height: 266px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
  background: url('../img/banner_more.png') no-repeat center top;
}
#banner_donate{
  height: 266px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
  background: url('../img/banner_donate.png') no-repeat center top;
}
#banner img{
  width: 1040px;
  margin: 0px;
  height: 291px;
}

.caption{
  background-color: #804d75;
  font-family: "quicksand";
  font-weight: book;
  font-size: 40px;
  text-align: center;
  margin: -3px auto 40px;
  padding: 0px;
  box-shadow: rgba( 0, 0, 0, 1) 1px 1px 70px;
}
/* #section Styles
================================================== */

h1{
    margin-bottom: 0px;
}
section{
  background-color: #7da0a3;
  padding: 20px;
}

.wrapper a, .chubby-wrapper a{
  text-decoration: none; 

}


/* #li on more pg Styles
================================================== */

section ul li{
  list-style: disc;
  /*list-style-image: ;*/
  font-weight: book;
  line-height: 25px;
  font-family: "Quicksand", helvetica, sans-serif;
}



/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

  body{
    position: relative;
  }

  nav{
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

